span{
  padding: 22px;
}
form{
  text-align: center;
    display: d;
    padding: 30px 0;
}
form input{
  margin: 20px;
    width: 40%;
    padding: 0 10px;
    border-radius: 7px;
    outline: none;
    border: 1px #13bad7 solid;
}
form button {
  background: green;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
.head{
  width: 100%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: white;
}

.container{
  background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;

}
.delete{
  border: none;
    background: red;
    border-radius: 5px;
    color: white;
    padding: 0 5px;
}
.edite{
  border: none;
  background: #7e7e0f;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  padding: 0 5px;
}
.title{

  text-align: center;
  margin-top: 50px;


}
.container1{
  background: black;
    color: white;
}